<div class="top-quarter">
  <ng-container *ngIf="company$ | async as company; else placeholder">
    <div style="width:100%;">
      <img style="width:100%;" src="https:{{company.Banner.changingThisBreaksApplicationSecurity}}">
    </div>
  </ng-container>
  <ng-template #placeholder>
        no image
  </ng-template>

</div>


<md-tab-group>
  <md-tab label="Reviews">
  <button md-raised-button routerLink="add-review" color="accent" >Add Review</button>
    <div *ngFor="let review of reviews$ | async" class="review">
      <div class="review-location">Location : {{review.location}}</div>
      <div class="review-stars">Allowance Rating : {{review.allowancesRating}}</div>
      <div class="review-stars">Career Development Rating : {{review.careerDevRating}}</div>
      <div class="review-stars">Company Structure Rating : {{review.CompStructRating}}</div>
      <div class="review-stars">Diversity Rating : {{review.diversityRating}}</div>
      <div class="review-stars">Dresscode Rating : {{review.dressCodeRating}}</div>
      <div class="review-salary">Salary : {{review.salary}}</div>
      <div class="review-content">Review : {{review.generalReview}}</div>
    </div>

    <div class="separator"></div>
  </md-tab>
  <md-tab label="Job Listings">
    <div *ngFor="let listing of (company$ | async)?.Classifieds">
      <a target="_blank" href="https://trademe.co.nz/{{listing.ListingId}}">
        <div class="title">{{listing.Title}}</div>
      </a>
      <div class="separator"></div>
    </div>
  </md-tab>
</md-tab-group>
