<md-toolbar color="primary">
  <span fxLayout="row" fxFlex="100%" fxLayoutAlign="space-between center">
    <span fxLayoutAlign="space-between center" fxFlex="13%">
      <button class="hamburger"  md-button  (click)="sidenav.toggle()">
        <md-icon>menu</md-icon>
      </button>
      <span style="padding-left:40px;">
          <button md-button routerLink="" ><h2>Aquarium</h2></button>
      </span>
    </span>
  <span>
    <span *ngIf="afAuth.authState | async as user; else notLoggedIn">
        Welcome: {{user.email}}
    <button md-button (click)="logout()"><h4>Sign Out</h4></button>
  </span>
  <ng-template #notLoggedIn>
    <button md-button (click)="login()"><h4>Login!</h4></button>
  </ng-template>
  </span>

  </span>
</md-toolbar>

<md-sidenav-container class="sidenav-container">
  <md-sidenav #sidenav mode="side" opened="false">
    <a class="nav-item" routerLink="">Home</a>
  </md-sidenav>

  <div class="main-content">
    <router-outlet></router-outlet>
  </div>

</md-sidenav-container>
