<md-toolbar color="primary">
    <span fxLayout="row" fxFlex="100%" fxLayoutAlign="space-between center">
        <span>
        <button class="hamburger"  md-button  (click)="sidenav.toggle()">
            <md-icon svgIcon="menu"></md-icon>
        </button>
    <span>Aquarium</span>
    <span>Welcome: </span>
    </span>

    <span>
    <span *ngIf="afAuth.authState | async as user; else notLoggedIn">
        {{user.email}}
    <span (click)="logout()">Sign Out</span></span>
    <ng-template #notLoggedIn>
        <span (click)="login()"> Login</span>
    </ng-template>
    </span>

    </span>
</md-toolbar>

<md-sidenav-container class="example-sidenav-fab-container">
    <md-sidenav #sidenav mode="side" opened="true">
        sidebar
    </md-sidenav>
    <router-outlet></router-outlet>
</md-sidenav-container>