<div [formGroup]="form">

  <h1>Company Review: </h1>

  <md-input-container class="example-full-width">
    <input mdInput formControlName="location" placeholder="Location">
  </md-input-container>

  <md-select mdInput formControlName="salary" placeholder="salary(number)" name="dropdown">
    <md-option *ngFor="let values of salaries" [value]="values.viewValue">
      {{values.viewValue}}
    </md-option>
  </md-select>

  <div>
    <label>Holidays and Sick days</label>
    <md-slider formControlName="allowanceRating" min="0" max="5" step="1"></md-slider>
    {{form.get('allowanceRating').value}}
  </div>

  <div>
    <label>Career Development Opportunities</label>
    <md-slider formControlName="careerDevRating" min="0" max="5" step="1"></md-slider>
    {{form.get('careerDevRating').value}}
  </div>

  <div>
    <label>Dress code and requirements</label>
    <md-slider formControlName="dressCodeRating" min="0" max="5" step="1"></md-slider>
    {{form.get('dressCodeRating').value}}
  </div>

  <div>
    <label>Company Diversity</label>
    <md-slider formControlName="diversityRating" min="0" max="5" step="1"></md-slider>
    {{form.get('diversityRating').value}}
  </div>

  <div>
    <label>Company Structure</label>
    <md-slider formControlName="compStructRating" min="0" max="5" step="1"></md-slider>
    {{form.get('compStructRating').value}}
  </div>

  <div>
    <md-input-container class="example-full-width">
      <textarea mdInput formControlName="review" placeholder="Description"></textarea>
    </md-input-container>
  </div>

  <button md-raised-button (click)="submit()">Submit</button>
</div>
