.company-card{
  margin-left: 20%;
  width: 60%;
  text-align: center;
  padding: 20px;
  margin-bottom: 0px !important; 
}

.company-item:hover{
  transform: scale(1.1)
}

.search-box {
  width: 500px;
  padding-left:20px;
  padding-right:20px;
}

.top-spacing {
  height: 50px;
}

.search-spacing {
  height: 50px;
}