
<div class="top-spacing"></div>
<div>
    <span fxLayout="row" fxFlex="100%" fxLayoutAlign="center">
        <div class="card">
            <md-input-container class="search-box">
            <input mdInput placeholder="Search Companies" [formControl]="searchControl">
            </md-input-container>
        </div>
    </span>
</div>
<div class="search-spacing"></div>

    <div fxLayout="row wrap">
        <div *ngFor="let name of companies$ | async" [routerLink]="['company', name.Company]" class="card pointer company-card">
            <div class="image-cropper">

                    <img *ngIf = "name.Logo" [src]="name.Logo">
             </div>
            {{name.Company}}
        </div>
    </div>
