
<div class="top-spacing"></div>
<div>
    <span fxLayout="row" fxFlex="100%" fxLayoutAlign="center">
        <div class="card">
            <md-input-container class="search-box">
            <input mdInput placeholder="Search Companies" [formControl]="searchControl">
            </md-input-container>
        </div>
    </span>
</div>
<div class="search-spacing"></div>

    <div fxLayout="row wrap">
        <div *ngFor="let name of companies$ | async" [routerLink]="['company', name]" class="company-item pointer">
            {{name.Company}}
        </div>
    </div>
