
.company-item{
  background: pink;
  margin: 0.5rem;
  padding: 0.25rem;
  height: 6rem;
  width: 7rem;
  border-radius: 0.25rem;
}
.company-item:hover{
  transform: scale(1.1)
}

.search-box {
  width: 500px;
}

.top-spacing {
  height: 50px;
}

.search-spacing {
  height: 50px;
}